{% extends 'base.html'%}
{% include 'dashboard.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Bills</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Bill No</th>
                <th>Patient</th>
                <th>Appointment</th>
                <th>Amount</th>
                <th>Payment Status</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td>{{ bill.bill_number }}</td>
                <td>{{ bill.patient }}</td>
                <td>{{ bill.appointment }}</td>
                <td>{{ bill.amount }}</td>  <!-- Display choice label -->
                <td>{{ bill.payment_status }}</td>
                <td>{{ bill.mpesa_transaction_date }}</td>
                <td><a href="{% url 'bill_update' bill.id %}" class="btn btn-success btn-sm">Edit</a></td>
                <td><a href="{% url 'bill_delete' bill.id %}" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %} 