{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">Add Doctor</h5>
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.national_id|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.date_of_birth|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.gender|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                
                                {{ form.phone_number|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.address|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.specialization|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.license_number|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.years_of_experience|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.department|as_crispy_field }}
                            </div>
                        </div>
                        <!-- Add more fields as needed in similar rows -->
                        <button type="submit" class="btn btn-primary mt-3">Save Doctor</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}