{% extends 'base.html'%}
{% include 'dashboard.html' %}

{% block content %}

<div class="container">
    <h2>Medical List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>PATIENT</th>
                <th>DOCTOR</th>
                <th>DIAGNOSIS</th>
                <th>SYMPTOMS</th>
                <th>TREATMENT</th>
                <th>PRESCRIPTION</th>
                <th>LAB RESULTS</th>
                <th>NOTES</th>
            </tr>
        </thead>
        <tbody>
            {% for record in medical_records %}
            <tr>
                <td>{{ record.patient }}</td>
                <td>{{ record.doctor }}</td>
                <td>{{ record.diagnosis }}</td>
                <td>{{ record.symptoms }}</td>
                <td>{{ record.treatment }}</td>
                <td>{{ record.prescription }}</td>
                <td>{{ record.lab_results }}</td>
                <td>{{ record.notes }}</td>
                <td><a href="#" class="btn btn-success btn-sm">Edit</a></td>
                <td><a href="#" class="btn btn-danger btn-sm">Delete</a></td> 
                
             </tr>
             {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %} 