{% extends 'base.html'%}
{% include 'dashboard.html' %}

{% block content %}

<div class="container">
    <h2>Medical Records</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>PATIENT</th>
                <th>DOCTOR</th>
                <th>DIAGNOSIS</th>
                <th>SYMPTOMS</th>
                <th>TREATMENT</th>
                <th>PRESCRIPTION</th>
                <th>LAB RESULTS</th>
                <th>NOTES</th>
            </tr>
        </thead>
        <tbody>
            {% for medical in medical_records %}
            <tr>
                <td>{{ medical.patient }}</td>
                <td>{{ medical.doctor }}</td>
                <td>{{ medical.diagnosis }}</td>
                <td>{{ medical.symptoms }}</td>
                <td>{{ medical.treatment }}</td>
                <td>{{ medical.prescription }}</td>
                <td>{{ medical.lab_results }}</td>
                <td>{{ medical.notes }}</td>
                <td><a href="{% url 'medical_update' medical.id %}" class="btn btn-success btn-sm">Edit</a></td>
                <td><a href="{% url 'delete_medical' medical.id %}" class="btn btn-danger btn-sm">Delete</a></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}