{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card w-100 mb-3 no-top-border">
                <div class="card-body">
                    <h5 class="card-title">Add Medical Record</h5>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.patient|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.doctor|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.symptoms|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.treatment|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.prescription|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.lab_results|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.notes|as_crispy_field }}
                            </div>
                        </div>
                        <!-- Add more fields as needed in similar rows -->
                        <button type="submit" class="btn btn-primary mt-3">Add Record</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}